<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">一级项目名称：</label>
                            <div class="col-sm-8">
                                <input id="projectName" name="projectName" class="form-control" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">国家：</label>
                            <div class="col-sm-8">
                                <select data-placeholder="--选择国家--" name="country" id="country"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option value="">--选择国家--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="projectTypeDiv">
                            <label class="col-sm-3 control-label">项目类别：</label>
                            <div class="col-sm-8">
                                <select data-placeholder="--请先选择国家--" name="projectType" id="projectType"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option value="">--请先选择国家--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="display: none" id="projectTypeOtherDiv" >
                            <label class="col-sm-3 control-label">项目类别：</label>
                            <div class="col-sm-8">
                                <input id="projectTypeOther" name="projectTypeOther" class="form-control" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">移民方式：</label>
                            <div class="col-sm-8">
                                <select data-placeholder="--选择移民方式--" name="immigrationMode" id="immigrationMode"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option value="">--选择移民方式--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">开放情况：</label>
                            <div class="col-sm-8">
                                <select data-placeholder="--选择开放情况--" name="ifOpen" id="ifOpen"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option value="">--选择开放情况--</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">项目简介：</label>
                            <div class="col-sm-8">
                                <textarea id="introduction" name="introduction" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">政策解读：</label>
                            <div class="col-sm-8">
                                <textarea id="policyInterpretation" name="policyInterpretation" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">申请流程：</label>
                            <div class="col-sm-8">
                                <textarea id="applicationProcess" name="applicationProcess" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">申请条件：</label>
                            <div class="col-sm-8">
                                <textarea id="applicationRequirement" name="applicationRequirement" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">材料清单：</label>
                            <div class="col-sm-8">
                                <textarea id="material" name="material" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">费用详情：</label>
                            <div class="col-sm-8">
                                <textarea id="costDetail" name="costDetail" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">资金要求：</label>
                            <div class="col-sm-3">
                                <input id="funding" name="funding" class="form-control" type="text" required>
                            </div>
                            <label class="col-sm-2 control-label">处理周期：</label>
                            <div class="col-sm-3">
                                <input id="processingeriod" name="processingeriod" class="form-control" type="text" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">居住要求：</label>
                            <div class="col-sm-3">
                                <input id="residenceRequirement" name="residenceRequirement" class="form-control" type="text" required>
                            </div>
                            <label class="col-sm-2 control-label">签证类别：</label>
                            <div class="col-sm-3">
                                <input id="visaType" name="visaType" class="form-control" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">移民局官网：</label>
                            <div class="col-sm-8">
                                <input id="cicnews" name="cicnews" class="form-control" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">具体项目打分表链接：</label>
                            <div class="col-sm-8">
                                <input id="gradeUrl" name="gradeUrl" class="form-control" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注信息：</label>
                            <div class="col-sm-8">
                                <textarea id="remark" name="remark" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>

<script type="text/javascript" src="/js/appjs/projectmgr/project/add.js"></script>
</body>
</html>
