<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button shiro:hasPermission="projectmgr:project:add" type="button"
                                class="btn  btn-primary" onclick="add()">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </button>
                        <button shiro:hasPermission="projectmgr:project:batchRemove" type="button"
                                class="btn  btn-danger" onclick="batchRemove()">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                    </div>
                    <div class="columns pull-right">
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                    </div>
                    <div class="columns pull-right col-md-2 nopadding">
                        <input id="searchName" type="text" class="form-control"
                               placeholder="请输入一级项目名称">
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var sub_new_h = 'hidden';
        var sub_edit_h = 'hidden';
        var sub_remove_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="projectmgr:project:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="projectmgr:project:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<!-- 二级项目权限-->
<div shiro:hasPermission="projectmgr:subproject:add">
    <script type="text/javascript">
        var sub_new_h = '';
    </script>
</div>
<div shiro:hasPermission="projectmgr:subproject:edit">
    <script type="text/javascript">
        var sub_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="projectmgr:subproject:remove">
    <script type="text/javascript">
        var sub_remove_h = '';
    </script>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/projectmgr/project/project.js"></script>
</body>
</html>